<table>
  <tr>
    <th>Type of Unit</th>
    <th>Value</th>
    <th>From</th> 
    <th>To</th> 
  </tr>
  <tr>
    <td>
      <select class="type"> 
        <option value="temp">Temperature</option>
        <option value="curr">Currency</option>
        <option value="vol">Volume</option>
        <option value="mass">Mass</option>
        <option value="len">Length</option>
        <option value="vel">Velocity</option>
      </select>
    </td>
    <td>
      <input class="value"type="number">
    </td>
    <td>
      <select class="from"> 
        <option value="">-</option>
      </select>
    </td>
    <td>
      <select class="to"> 
        <option value="">-</option>
      </select>
    </td>
  </tr>
</table>
