<table>
  <tr>
    <th>Type of Unit</th>
    <th>Value</th>
    <th>From</th> 
    <th>To</th> 
  </tr>
  <tr>
    <td>
      <select class="type"> 
        <option value="temp">Temperature</option>
        <option value="curr">Currency</option>
        <option value="vol">Volume</option>
        <option value="mass">Mass</option>
        <option value="len">Length</option>
        <option value="vel">Velocity</option>
      </select>
    </td>
    <td>
      <input class="value"type="number">
    </td>
    <td>
      <select class="from"> 
        <option value="">-</option>
      </select>
    </td>
    <td>
      <select class="to"> 
        <option value="">-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Result:</td>
    <td id="result"></td>
    <td></td>
    <td><button id="submit" type="submit">Submit</button></td>
  </tr>
</table>

<script src="{{ url_for('static', filename='js/converter.js') }}"></script>
<script>
$(document).ready(function() {
  var converter = new Converter(
    $(".type"),
    $(".value"), 
    $(".from"), 
    $(".to"),
    $("#result"),
    $("#submit")
  );
});
</script>
